# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.VC.db
*.opendb

# Build output
bin/
build/
x64/
Debug/
Release/
*.log
*.obj
*.pdb
*.idb
*.ilk
*.tlog
*.cache
*.ipch
*.aps
*.ncb
*.pch
*.dll
*.exe
*.exp

# Rider / ReSharper
*.DotSettings.user

# CMake (se lo usi o userai in futuro)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Backup/temporary
*~
*.bak
*.tmp
*.old

# Ignore compiled shaders or assets if you generate them
*.shaderc
*.spv
*.compiled
